@font-face {
    font-family: 'helvetica_neueregular';
    src: url('fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('fonts/helveticaneue-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helvetica_neueregular';
    src: url('fonts/helveticaneue-thincond-webfont.woff2') format('woff2'),
         url('fonts/helveticaneue-thincond-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helvetica_neueregular';
    src: url('fonts/helveticaneue-thincondobl-webfont.woff2') format('woff2'),
         url('fonts/helveticaneue-thincondobl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helvetica_neueregular';
    src: url('fonts/helveticaneue-thinext-webfont.woff2') format('woff2'),
         url('fonts/helveticaneue-thinext-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helvetica_neueregular';
    src: url('fonts/helveticaneue-thinextobl-webfont.woff2') format('woff2'),
         url('fonts/helveticaneue-thinextobl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helvetica_neueregular';
    src: url('fonts/helveticaneue-thinitalic-webfont.woff2') format('woff2'),
         url('fonts/helveticaneue-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  font-family: 'helveticaneuecyrlight', sans-serif, Georgia, Arial;
}
.page {
	width: 100%;
	margin: 0 auto;
    height: 100%;
	font-size: 14px;
	line-height: 2;
}

/* HEADER */
header {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding-left: 540px;
  background: url('../img/header_pattern.png');
   vertical-align: top;
}
.menu ul li {
  display: inline-block;
  float: left;
  height: 36px;
  line-height: 36px;
  letter-spacing: normal;
}
.menu a {
  display: block;
  height: 36px;
  padding: 0 13px 0 13px;
  color: #60b5ed;
  text-decoration: none;
}
.menu ul li:hover {
  background: #4eabda;
  color: white;
  height: 36px;
}
.menu a:hover{
  color: white;
}
.header-2 {
  /* полоска */
  display: inline-block;
  float: left;
  width: 1px;
  height: 30px;
  margin-top: 3px;
  margin-left: 5px;
  background: #56a2dc;
}
.header-3 {
  /* флаг */
  display: inline-block;
  float: left;
  width: 30px;
  height: 36px;
  margin-left: 15px;
  background: url('../img/flag_png.png');
}
.header-4 {
  /* Minhas Ofertas */
  display: inline-block;
  float: left;
  height: 36px;
  margin-left: 7px;
}
.header-4:hover{
	background: #4eabda;
	color: white;
}
.header-4 a{
  color: #fefefe;
  line-height: 36px;
  text-decoration: none;
}
.header-5 {
  /* кнопка */
  display: inline-block;
  float: left;
  width: 191px;
  height: 36px;
  margin-left: 15px;
  color: white;
  line-height: 36px;
  background: url('../img/header_button.png');
}
.header-5 p {
  text-align: center;
}
.header-5 p a {
  color: #feffff;
  text-decoration: none;
}
.body-img {
  width

  
  
  
}

/* FORM */
.form {
  position: absolute;
	top: 249px;
	left: 50%;
  width: 560px;
  height: 635px;
  margin-left: -280px;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}
.form-header {
  height: 61px;
  border-bottom: 2px solid #bac3ae;
  font-size: 24px;
  font-weight: bold;
  line-height: 61px;
}
/* FACEBOOK link*/
.form-fb {
	width: 275px;
	height: 35px;
    margin: 37px auto 15px 0px;
	border: 0;
	background: url('../img/Facebook-button.jpg') no-repeat;
	
}

	
}
/* FORM */
.decoration-line {
  width: 276px;
  margin: 30px auto 30px;
  color: #999999;
  position: relative;
 /* background: url('../img/form_line.png');*/
}
.decoration-line p:after,
.decoration-line p:before {
	content: '';
	display: block;
	width: 123px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #000;
	position: absolute;
}
.decoration-line p:before {
	top: 165px;
	left: 143px;
}
.decoration-line p:after {
	top: 165px;
	right: 143px;
}
.input {
	margin-top:30px;
}
input[type="text"]  {
  display: block;
  margin-left: 140px;  
  height: 35px;
  padding-left: 18px;
  border: none;
  border-bottom: 1px solid #484948;
  margin-bottom: 15px;
  color: #ccc;
  background: #0f0f0f;
}
input[type="text"]:focus {
  height: 34px;
  outline: none;
  border: 1px solid #1e4b76;
  border-bottom: 1px solid #689bcd;
  color: white;
  background: #1b5288;
  -webkit-box-shadow: 0px 0px 14px 1px #689bcc;
  -moz-box-shadow: 0px 0px 14px 1px #689bcc;
  box-shadow: 0px 0px 14px 1px #689bcc;
}
.form-button {
  width: 151px;
  height: 38px;
  border: none;
  margin: 13px 0;
  cursor: pointer;
  background: url('../img/form_button.png');
}
.form-bottom {
  font-size: 11px;
  margin-bottom: 13px;
}